@using Movie_M.Client.Models
@model List<Movie>
    <style>
        .post-slider .owl-nav {
            display: none;
        }
    </style>

    <div class="banner-area banner-inner-1 bg-black" id="banner">
        <!-- banner area start -->
        <div class="banner-inner pt-5 mb-xl-5">
            <div class="container post-slider post-slider owl-carousel owl-loaded owl-drag">
                @foreach (var item in Model.OrderByDescending(a => a.imdbRating))
                {
                    <div class="row ">
                        <div class="col-lg-4">
                            <div class="thumb after-left-top">
                                <img src="@item.Poster" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-4 align-self-center">
                            <div class="banner-details mt-4 mt-lg-0">
                                <div class="post-meta-single">
                                    <ul>
                                        @{
                                            var genrelist = item.Genre.Split(",");
                                            foreach (var itemG in genrelist)
                                            {
                                                <li><a class="tag-base tag-blue" href="#">@itemG</a></li>
                                            }
                                        }

                                        <li class="date"><i class="fa fa-clock-o"></i>@item.Released</li>
                                    </ul>
                                </div>
                                <h2>@item.Title</h2>
                                @if (item.Awards.Contains("N/A"))
                                {
                                    <p>Not yet any award but we gave awards : ) &nbsp;&nbsp;&nbsp;  <i class="fa fa-star" aria-hidden="true" style="font-size: xx-large; color: #FFA900"></i></p>
                                }
                                else
                                {
                                    <p>@item.Awards</p>
                                }
                                @if (!item.Plot.Contains("N/A"))
                                {
                                    <p style="width: 600px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis">@item.Plot</p>
                                }
                                @if (!string.IsNullOrEmpty(item.imdbID))
                                {
                                    <a class="btn btn-blue" href="/search-imdb-id/@item.imdbID">Read More</a>
                                }

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="banner-details mt-4 mt-lg-0" style="margin-left:150px; line-height:8;">
                                @{
                                    if (!string.IsNullOrEmpty(item.imdbRating))
                                    {
                                        <p>
                                            <i class="fa fa-imdb" aria-hidden="true" style="font-size: xx-large; color: #FFA900"></i>&nbsp;&nbsp;@item.imdbRating
                                        </p>
                                    }
                                }

                                <hr style="color: #0A1931; border:2px" />
                                @{
                                    if (!string.IsNullOrEmpty(item.imdbVotes))
                                    {
                                        <p>
                                            <i class="fa fa-arrow-up" aria-hidden="true" style="font-size: xx-large; color: #FFA900"></i>&nbsp;&nbsp;@item.imdbVotes
                                        </p>
                                    }
                                }

                                <hr style="color:#0A1931" />
                                @{
                                    if (!string.IsNullOrEmpty(item.imdbID))
                                    {
                                        <p>
                                            <i class="fa fa-info" aria-hidden="true" style="font-size: xx-large; color: #FFA900"></i>&nbsp;&nbsp;@item.imdbID
                                        </p>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        @{
            this.Context.Request.Cookies.TryGetValue("lastsearched", out string value);

            if (value!=null)
            {
                @await Component.InvokeAsync("LastSearched", value);
            }

        }
    </div>