@using Movie_M.Client.Models
@model Movie
@{
    Layout = "_Layout";
}
<style>
    h3 {
        color: #FFA900;
    }
</style>

<div class="banner-area banner-inner-1 bg-black" id="banner">
    <!-- banner area start -->
    <div class="banner-inner pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="thumb after-left-top">
                        <img loading="lazy" src="@Model.Poster" alt="img">
                    </div>
                </div>
                <div class="col-lg-4 align-self-center">
                    <div class="banner-details mt-4 mt-lg-0">
                        <div class="post-meta-single">
                            <ul>
                                @{
                                    var genrelist = Model.Genre.Split(",");
                                    foreach (var itemG in genrelist)
                                    {
                                        <li><a class="tag-base tag-blue" href="#">@itemG</a></li>
                                    }
                                }
                                <li class="date"><i class="fa fa-clock-o"></i>@Model.Released</li>
                            </ul>
                        </div>
                        <h2>@Model.Title</h2>
                        @if (!Model.Awards.Contains("N/A"))
                        {
                            <p>Awards:  @Model.Awards</p>
                        }

                        @if (!Model.Plot.Contains("N/A"))
                        {
                            <p style="word-wrap:normal">@Model.Plot</p>
                        }
                        <a id="addlist" class="btn btn-blue"  data-value="@Model.imdbID"style="cursor:pointer; color:white;">Add List</a>
                        <a href="/extarnal-links/@Model.imdbID" id="extarnallinks" class="btn btn-blue"  data-value="@Model.imdbID"style="cursor:pointer; color:white;">Extarnal Links</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="banner-details mt-4 mt-lg-0" style="margin-left:150px; line-height:8;">
                        <p>
                            <i class="fa fa-imdb" aria-hidden="true" style="font-size: xx-large; color: #FFA900"></i>&nbsp;&nbsp;@Model.imdbRating
                        </p>
                        <hr style="color: #0A1931; border:2px" />
                        <p>
                            <i class="fa fa-arrow-up" aria-hidden="true" style="font-size: xx-large; color: #FFA900"></i>&nbsp;&nbsp;@Model.imdbVotes
                        </p>
                        <hr style="color:#0A1931" />
                        <p>
                            <i class="fa fa-info" aria-hidden="true" style="font-size: xx-large; color: #FFA900"></i>&nbsp;&nbsp;@Model.imdbID
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner area end -->
</div>
<div class="row ml-2 mr-2">
    <div class="col-lg-3 col-sm-6">
        <h3>About Person</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Director: <p>@Model.Director</p> </li>
            <li class="list-group-item">Actors:  <p>@Model.Actors</p> </li>
            <li class="list-group-item">Total Revenue:  <p>@Model.BoxOffice</p> </li>
            <li class="list-group-item">Writer: <p>@Model.Writer</p>  </li>
            <li class="list-group-item">Production:  <p>@Model.Production</p> </li>
        </ul>
    </div>
    <div class="col-lg-3 col-sm-6">
        <h3>About @Model.Type</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Language:  <p>@Model.Language</p> </li>
            <li class="list-group-item">Runtime:  <p>@Model.Runtime</p> </li>
            <li class="list-group-item">Type:  <p>@Model.Type</p> </li>
            <li class="list-group-item">Country:  <p>@Model.Country</p> </li>
            <li class="list-group-item">Realized Date:  <p>@Model.Released</p> </li>
        </ul>
    </div>
    <div class="col-lg-3 col-sm-6">
        <h3>Rate</h3>
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.Ratings)
            {
                <li class="list-group-item">@item.Source:  <p>@item.Value</p> </li>
            }

        </ul>
    </div>
    <div class="col-lg-3 col-sm-6">
        <h3>Web Site</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Web Site:  <p></p> @Model.Website</li>

        </ul>
    </div>
</div>

<script>
    var add_list = document.getElementById('addlist');
    add_list.addEventListener("click", function (event) {
        var valu = add_list.getAttribute("data-value");
        var value = JSON.stringify(valu);
        var xhr = new XMLHttpRequest;
        xhr.open('POST', '/addlist');
        xhr.setRequestHeader('Content-type', 'application/json;')
        xhr.responseType = 'JSON';
        xhr.send(value);
       
        xhr.onload = function () {

           
            if (xhr.status == 200) {
                var result = JSON.parse(xhr.responseText);
                if (result == 0) {
                    alert('Already Exist Same Record');
                }
                else {
                    alert('Success')
                }
               
            }
            else {
                alert('Somthink Went Wrong');

            }
        }
    });
</script>


